AdminTool/Debug
AdminTool/Release
AdminTool/x64
AdminTool/*.suo
AdminTool/*.user
AdminTool/.vs
CenterClientLibrary/Debug
CenterClientLibrary/Release
CenterClientLibrary/x64
CenterClientLibrary/*.suo
CenterClientLibrary/*.user
CenterClientLibrary/.vs
CenterHubLibrary/Debug
CenterHubLibrary/Release
CenterHubLibrary/x64
CenterHubLibrary/*.suo
CenterHubLibrary/*.user
CenterHubLibrary/.vs
CSharpCenterClient/bin
CSharpCenterClient/obj
CSharpCenterClient/*.suo
CSharpCenterClient/*.user
CSharpCenterClient/.vs
CSharpClientTest/bin
CSharpClientTest/obj
CSharpClientTest/*.suo
CSharpClientTest/*.user
CSharpClientTest/.vs
libevent-2.1.11-stable/build
libevent-2.1.11-stable/.vs
ServerCenter/Debug
ServerCenter/Release
ServerCenter/x64
ServerCenter/*.suo
ServerCenter/*.user
ServerCenter/.vs
