AdminTool/Debug
AdminTool/Release
AdminTool/*.suo
AdminTool/*.user
CenterClientLibrary/Debug
CenterClientLibrary/Release
CenterClientLibrary/*.suo
CenterClientLibrary/*.user
CenterHubLibrary/Debug
CenterHubLibrary/Release
CenterHubLibrary/*.suo
CenterHubLibrary/*.user
CSharpCenterClient/bin
CSharpCenterClient/obj
CSharpCenterClient/*.suo
CSharpCenterClient/*.user
CSharpClientTest/bin
CSharpClientTest/obj
CSharpClientTest/*.suo
CSharpClientTest/*.user
libevent-2.0.22-stable/*.obj
ServerCenter/Debug
ServerCenter/Release
ServerCenter/*.suo
ServerCenter/*.user
